$body-bgcolor: white;
$body-color: #919191;
$title-font-color: #333333;


//Fonts
$main-font: 'Montserrat', sans-serif;
$title-font: 'Roboto', sans-serif;

//Buttons
$button-bgcolor: #bc0000;
$button-hover-bgcolor: white;



