@import '_vars';

body {
    font-family: $main-font;
    color: $body-color;
    background-color: $body-bgcolor;
}

h2 {
    font-family: $title-font;
    color: $title-font-color;
}

h3 {
    font-family: $title-font;
    color: $title-font-color;
}