@import '_vars';

body {
    font-family: $main-font;
    color: $body-color;
    background-color: $body-bgcolor;
}

h2 {
    font-family: $title-font;
    color: $title-font-color;
}

h3 {
    font-family: $title-font;
    color: $title-font-color;
}

.button {
    background-color: $button-bgcolor;
    color: $button-hover-bgcolor;
    font-weight: bold;
    border-radius: 15px;

}

.subscribe {
    border-radius: 15px;
}

.button:hover {
    background-color: $button-hover-bgcolor;
    color: $button-bgcolor;
    font-weight: bold;
    border: 2px solid $button-bgcolor;
    
}

